@import url("https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a::focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "lato", sans-serif;
  color: #fff;
  background: #222222;
  background: #16222A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  padding: 1rem;
  color: #3A3F44;
  width: 100%;
}
input[type=text], input[type=password] {
  background-color: #ffffff;
}
input[type=text]:focus, input[type=text]:hover, input[type=password]:focus, input[type=password]:hover {
  background-color: #eeeeee;
}
input[type=submit] {
  background-color: #00B9BC;
  color: #3A3F44;
  font-weight: bold;
  text-transform: uppercase;
}
input[type=submit]:focus, input[type=submit]:hover {
  background-color: #197071;
}

.header {
  padding-top: 10px;
  display: block;
}
.header a {
  color: lightblue;
}
.header .bar {
  background: #2b3f4c;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #26343e;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .bar .info {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.header .bar .info .info-item {
  padding: 2px 5px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(58, 63, 68, 0.5);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  width: 450px;
  display: flex;
  flex-direction: column;
}
.container .logo {
  font-family: "museo-slab";
  font-size: 20px;
  text-align: center;
  padding: 20px 20px 0;
  margin: 0;
}
.container .item {
  color: #3A3F44;
  padding: 25px 25px 0;
  margin: 20px 20px 0;
  border-radius: 3px;
}
.container .item .form .form-field {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}
.container .item .form .form-field .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container .hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding-bottom: 20px;
}
.container .hint .question {
  padding-bottom: 7px;
}
.container .hint .link a {
  color: #00B9BC;
}
.container .hint .link a:hover {
  color: #197071;
}